rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /shared/{token} {
      allow read: if true;
      allow create: if request.auth != null;
      allow update, delete: if request.auth != null && request.auth.uid == resource.data.ownerId
        || (resource.data.expiresAt != null && request.time > resource.data.expiresAt);
    }
    match /users/{userId}/{document=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
